* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, purple, salmon);
  min-height: 100vh;
  font-family: sans-serif;
}

.Form {
  padding: 2rem;
  background: linear-gradient(to bottom, rgba(255,255,255, .95), white);
  border-radius: .25rem;
  box-shadow: 1em 1em 1em rgba(0,0,0, .1);
}

.Form-Group {
  margin: 0 0 1rem;
}

.Form-Label {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: .7rem;
  font-weight: 600;
}

input[type="text"],
input[type="number"],
textarea {
  display: block;
  padding: .5rem 1rem;
  width: 100%;
  border: 1px solid #eee;
}

input[type="number"] {
  display: inline-block;
  width: auto;
}

.notice-hidden {
  display: none;
}
.load-bar {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 6px;
  background-color: salmon;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(odd) {
  background-color: purple;
  animation: loading 3s linear infinite;
}
.bar:nth-child(even) {
  background-color: salmon;
  animation: loading 3s linear 1s infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}